@charset "UTF-8";

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 20px;
}
.container{
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}
.header{
  min-height: 40px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  background-color: #292929;
  padding: 30px;
}
.navLogo{
  width: 180px;
}
.navBtnGroup{
  display: flex;
  gap: 15px;
}
.navBtn{
  font-size: 16px;
  padding: 6px;
  background-color: transparent;
  border: 2px solid transparent;
  color: white;
  cursor: pointer;
  transition: .5s;
}
.navBtn:hover{
  border-bottom: 2px solid white;
}
.sectionTitle{
  display: flex;
  align-items: center; 
  justify-content: center;
  padding-top: 20px;
  font-size: 26px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 400;
}
.sectionDescription{
  text-align: center;
  color: #383838;
  padding-top: 20px;
}
.gridContainer{
  display: grid;
  grid-template-columns: 3fr 1fr;
  grid-template-areas: "mainContent sidebarContent";
  padding: 20px;
  flex: 1 0 auto;
}
.mainContent{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  grid-area: mainContent;
}
.categoryCard{
  width: 280px;
  height: 380px;
  border: 2px solid transparent;
  border-radius: 10px;
  transition: .5s;
  cursor: pointer;
  box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.233);
}
.categoryCard:hover{
  border-color: black;
}
.mainCardImg{
  width: 100%;
  height: 180px;
  border-radius: 10px;
}
.mainCategoryCardTitle{
  font-family: Arial, Helvetica, sans-serif;
  padding: 10px;
}
.mainCategoryCardDescription{
  padding-left: 10px;
}
.sidebarContent{
  background-color: #383838;
  color: white;
  padding: 16px;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-width: 280px;
  grid-area: sidebarContent;
  gap: 20px;
  border-radius: 10px;
  box-shadow: 2px 2px 10px black;
}
.sidebarCard{
  width: 75%;
  border: 2px solid transparent;
  border-radius: 10px;
  transition: .5s;
  cursor: pointer;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.233);
}
.sidebarCard:hover{
  border-color: gainsboro;
}
.sidebarCardImg{
  width: 100%;
  border-radius: 10px;
}
.sidebarCardTitle{
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  padding: 10px;
}
.footer{
  width: 100%;
  min-height: 40px;
  background-color: #292929;  
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  padding: 30px;
  gap: 30px;
}
.logoFooter{
  width: 180px;
}
.footerAnchor{
  text-decoration: none;
  color: white;
}
.footerAnchor:hover{
  text-decoration: underline;
}
.created{
  text-decoration: none;
  color: white;
  font-size: 300;
  font-family: Arial, Helvetica, sans-serif;
  display: flex;
  gap: 5px;
}
.Link:hover{
  text-decoration: underline;
}
@media(max-width: 1213px){
  .sidebarContent{
    height: 60%;
  }
}
@media(max-width: 899px){
  .sidebarContent{
    height: 30%;
  }
}
@media(max-width: 630px){
  .gridContainer{
    grid-template-areas: 
    "mainContent"
    "sidebarContent";
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
  }
  .sidebarContent{
    min-width: auto;
  }
  .footerAnchor{
    font-size: 19px;
  }
}
@media(max-width: 463px){
  .header{
    justify-content: center;
  }
  .footer{
    justify-content: center;
  }
}
@media(max-width: 363px){
  .sectionTitle{
    text-align: center;
  }
}